<!--
<header class="header">
  <div class="header-inner">
    <div class="logo">es</div>
    <div class="name">test</div>
    <div class="top-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</header> -->

<header class="franchinets-header">
  <div class="franchinets-grid">
    <div class="logo"><a routerLink="home"><img src="../../../assets/favicon.png" alt="Groupe Scolaire Bilingue Les Franchinets" /></a></div>
    <div class="name"><h1>Groupe Scolaire Bilingue Les Franchinets</h1></div>
    <div class="top-nav">
      <div class="nav-item" *ngFor="let item of nav_item">
        <a [routerLink]="item.path" *ngIf="item.name!==null">{{item.name}}</a>
      </div>
    </div>
  </div>

</header>
