<footer>
  <div class="footer-left">
    <div class="footer-left-item1"><div>Groupe Scolaire Bilingue Les Franchinets</div> </div>
    <div class="footer-left-item2"><div>Copyright &copy; 2023 All Rights reserved by Franchinets</div></div>
  </div>
  <div class="footer-center">
    <div class="footer-center-item">
      <div class="icon"><mat-icon>place</mat-icon></div>
      <div class="item">Adresse</div>
    </div>
    <div class="footer-center-item">
      <div class="icon"><mat-icon>phone</mat-icon></div>
      <div class="item">number</div>
    </div>
    <div class="footer-center-item">
      <div class="icon"><mat-icon>email</mat-icon></div>
      <div class="item">Mail.to</div>
    </div>
  </div>

  <div class="footer-right">
    <div>
      <div class="item">About the franchinets</div>
      <p>Please discribe the school the Franchinets here. We are very happy to know a little bit about the franchinets.</p>
    </div>
    <div>
      <div class="icon">
        <a href="#"><mat-icon>facebook</mat-icon></a>
      </div>
    </div>
  </div>
</footer>
